.jodit-wysiwyg h1{
    font-size: 32px !important;
    font-weight: 700 !important;
}

.jodit-wysiwyg h2{
    font-size: 28px !important;
    font-weight: 700 !important;
}

.jodit-wysiwyg h3{
    font-size: 24px !important;
    font-weight: 700 !important;
}

.jodit-wysiwyg h4{
    font-size: 20px !important;
    font-weight: 700 !important;
}

.jodit-wysiwyg ol,
.jodit-wysiwyg ul,
.jodit-wysiwyg li {
  margin-left: 0px !important;
  padding-left: 0px !important;
  
}
  